@-moz-document url("about:home"), url("about:newtab") {
    .activity-stream {
        background-color: #282828 !important;
    }
    .logo-and-wordmark {
        visibility: hidden;
    }
    .search-handoff-button {
        background-color: #282828 !important;
    }
    .search-wrapper.fake-focus:not(.search.disabled) .search-handoff-button {
      border: 1px solid #928374 !important;
      box-shadow: 0 0 0 0px #928374 !important;
    }
    .icon-settings {
        visibility: hidden !important;
    }
}
